@model IEnumerable<Product>

@{
    var productsWithMinImage = Model
        .GroupBy(p => p.Id)
        .Select(g => new
        {
            Product = g.First(),
            MinImage = g.First().ProductImages.OrderBy(img => img.Id).FirstOrDefault()
        })
        .OrderBy(p => p.Product.Title);
}

<div class="banner my-2">
    This website is part of an academic project. All products and content are fictitious and for educational purposes only.
</div>

<div class="row pb-3">
    @foreach (var item in productsWithMinImage)
    {
        <div class="col-lg-2 col-sm-6 mb-3">
            <div class="card h-100 border-0 shadow-sm rounded-3 d-flex flex-column">
                @if (item.MinImage != null)
                {
                    <img src="@item.MinImage.ImageUrl" class="card-img-top rounded-3" />
                }
                else
                {
                    <img src="https://placehold.co/500x600/png" class="card-img-top rounded-3" />
                }
                <div class="card-body text-center flex-grow-1">
                    <h6 class="card-title text-dark opacity-75 text-uppercase">@item.Product.Title</h6>
                    <p class="card-text text-warning small">by <b>@item.Product.Author</b></p>
                    <p class="text-muted mb-1">
                        List Price:
                        <span class="text-decoration-line-through">
                            @item.Product.ListPrice.ToString("c")
                        </span>
                    </p>
                    <p class="text-dark">
                        As low as:
                        <span>
                            @item.Product.Price100.ToString("c")
                        </span>
                    </p>
                </div>
                <a asp-action="Details" asp-route-productId="@item.Product.Id" class="btn btn-primary bg-gradient border-0 w-100 mt-auto">
                    Details
                </a>
            </div>
        </div>
    }
</div>

<div class="container py-5">
    <div class="row text-center">
        <div class="col-md-4 col-sm-12 mb-4">
            <div class="p-4 bg-light rounded shadow-sm">
                <i class="bi bi-book-half display-4 mb-3 text-primary"></i>
                <p>We donate a book for every purchase on our site</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 mb-4">
            <div class="p-4 bg-light rounded shadow-sm">
                <i class="bi bi-gift-fill display-4 mb-3 text-primary"></i>
                <p>Over 100k books donated to schools worldwide</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 mb-4">
            <div class="p-4 bg-light rounded shadow-sm">
                <i class="bi bi-recycle display-4 mb-3 text-primary"></i>
                <p>Over 3 million books saved from landfills</p>
            </div>
        </div>
    </div>
</div>
